// .preview-container {
.modal-container {
  .alarm-info-container {
    display: flex;
    justify-content: space-around;
  }

  .alarm-background {
    position: relative;
    width: 432px;
    height: 244px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    background: #0f151d;

    img {
      max-width:100%;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    // z-index: inherit;

    .alarm-hover {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    .alarm-active {
      display: none;
      // z-index: 100;
      // opacity: .4;
      // background: #0F151D;
      // color: red;
    }

    &:hover img {
      opacity: 0.4;
    }

    &:hover .alarm-active {
      display: flex;
      justify-content: space-around;
      align-items: center;
      z-index: 100;
      // opacity: .4;
      // background: #0F151D;
      color: red;
    }

    // .alarm-active {}

    .alaarm-hover-item {
      width: 104px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.24);
      color: #fff;
      cursor: pointer;
      border-radius: 4px;
    }
  }

  .alarm-info {
    width: 186px;
  }

  // .alarm-info-compared {

  // }

  .alarm-img-wraper {
    display: flex;
    justify-content: center;
    // align-items: center;
  }

  .wraper-cls-temp {
    margin: 0 8px;
    transform: translateY(50%);
    border-color: #fff;
  }
  .wraper-cls {
    margin: 0 8px;
    transform: translateY(50%);
    // border-color: #fff;;
  }

  // .border-cls-temp {

  // }

  .border-cls-temp {
    border-color: #fff;
    color: #fff;
  }

  // .alarm-img-temp {

  // }

  .alarm-img {
    width: 100px;
    height: 100px;
  }

  // .alarm-top {
  //     margin: 24px 0 18px 0;
  //     display: flex;
  //     // justify-content: center;
  //     align-items: center;
  // }

  .temperture {
    margin: 18px 0 10px 0;
  }

  .alarm-mask {
    width: 68px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-left: 8px;
    background-color: #ffb739;
    // background #FFB739;
    // color: #FFB739;
  }

  // .alarm-img-name {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // }

  .alarm-temp {
    color: #ffffff;
  }

  .alarm-person-name {
    height: 22px;
    line-height: 22px;
    text-align: center;
    margin-top: 22px;
    font-size: 16px;
  }

  .alarm-bank-name {
    height: 22px;
    line-height: 22px;
    text-align: center;
    margin-top: 4px;
    font-size: 12px;
  }

  // .alarm-temperture {
  //     width: 100px;
  //     height: 24px;
  //     line-height: 24px;
  //     text-align: center;
  //     margin: 24px 0 18px 0;
  //     // background: #fff;
  //     // opacity: 0.4;
  //     background-color: rgba(255, 255, 255, 0.4);
  //     color: #fff;
  //     font-size: 14px;
  //     // color: #FFF;
  // }

  .alarm-time,
  .alarm-address {
    font-size: 14px;
    // color: #FFFFFF;
  }

  .alarm-time {
    margin-top: 20px;
  }

  .alarm-address {
    margin-top: 8px;
  }
}

.big-pic-modal-container {
  .big-pic-container {
    width: 800px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .ant-modal-close-icon {
    // opacity: 0.4 !important;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #ffffff !important;
    background: #4293f4 !important;
  }

  .ant-modal-close-x {
    line-height: 0 !important;
    text-align: right !important;
  }
}
