@import '~antd/dist/antd.css';

.App {
  height: 100%;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes slowShow {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

/* 定义流浪器滚动条样式 */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  height: 40px;
  background: rgba(24, 41, 57, 0.50);
  border-radius: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: none;
  border-radius: 0;
} 
